<!DOCTYPE html>
<html>
    <head>
        <title>Crossie Road</title>
    </head>
    <body>
        <h1>Crossie Road</h1>
        <br>
        <button onclick="getDetections()" style="background-color: yellow; width: 200px; height: 100px; font-size: 25px;">am i roadkill?</button>
        <br><br>
        <canvas id="video-feed"></canvas>
        <script>
            let canvas = document.getElementById('video-feed');

            function getDetections() {
                const formData = new FormData();

                let req = fetch('/api/object-detection', {
                    method: 'get'
                });

                req.then(async response => await response.json()).then(results => {
                    console.log(results);
                    
                    let msg = new SpeechSynthesisUtterance();
                    let voices = window.speechSynthesis.getVoices();
                    msg.voice = voices[2]; 
                    msg.rate = 0.75; // From 0.1 to 10
                    msg.pitch = 0.1; // From 0 to 2
                    msg.text = 'Safe';
                    
                    for(const result of results) if(result.name === 'car' || result.name === 'bus') msg.text = 'Danger';

                    window.speechSynthesis.speak(msg);
                });
            }

            function updateFeed() {
                let req = fetch('/api/feed', {
                    method: 'get'
                });

                req.then(async response => await response.text()).then(results => {
                    let ctx = canvas.getContext('2d');
                    let image = new Image();

                    image.onload = () => {
                        if(canvas.width != image.width) {
                            canvas.width = image.width;
                            canvas.height = image.width;
                        }
                        ctx.drawImage(image, 0, 0);
                    };
                    image.src = 'data:image/png;base64,' + results;

                    setTimeout(updateFeed(), 500);
                });
            }

            updateFeed();
        </script>
    </body>
</html>