<!DOCTYPE html>
<html>
    <head>
        <title>Crossie Road</title>
        <style>
            body {
                margin: 0px;
                padding: 0px;
                width: 100%;
                height: 100vh;
                overflow: auto;
                text-align: center;
                font-family: "Comic Sans MS", "Comic Sans", sans-serif;
            }
        </style>
    </head>
    <body onclick="getDetections()">
        <h1>Crossie Road</h1>
        <br>
        Tap anywhere to check the road
        <!-- <button onclick="getDetections()" style="background-color: yellow; width: 200px; height: 100px; font-size: 25px; width: 100%; height: 400px;">Is it safe?</button> -->
        <br><br>
        <canvas id="video-feed"></canvas>
        <script>
            let canvas = document.getElementById('video-feed');

            function getDetections() {
                const formData = new FormData();

                let req = fetch('/api/object-detection', {
                    method: 'get'
                });

                req.then(async response => await response.json()).then(results => {                    
                    let msg = new SpeechSynthesisUtterance();
                    let voices = window.speechSynthesis.getVoices();
                    msg.voice = voices[2]; 
                    msg.rate = 0.75; // From 0.1 to 10
                    msg.pitch = 0.1; // From 0 to 2
                    msg.text = 'Safe';
                    
                    for(const result of results) if(result.name === 'car' || result.name === 'bus' || result.name === 'motorcycle') msg.text = 'Danger';

                    window.speechSynthesis.speak(msg);
                });
            }

            function updateFeed() {
                fetch('/api/feed', {
                    method: 'get'
                }).then(async response => await response.text()).then(results => {
                    let ctx = canvas.getContext('2d');
                    let image = new Image();

                    image.onload = () => {
                        if(canvas.width != image.width) {
                            canvas.width = image.width;
                            canvas.height = image.width;
                        }
                        ctx.drawImage(image, 0, 0);
                    };
                    image.src = 'data:image/png;base64,' + results;
                }).finally(() => setTimeout(updateFeed(), 500));
            }

            updateFeed();
        </script>
    </body>
</html>